@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

@layer utilities {
  .bg-grid-pattern {
    background-image: repeating-linear-gradient(
        transparent 0px,
        transparent 1px,
        rgba(0, 0, 0, 0.05) 1px,
        rgba(0, 0, 0, 0.05) 2px
    );
  }

  .bg-stripes {
    background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        rgba(0, 0, 0, 0.03) 10px,
        rgba(0, 0, 0, 0.03) 20px
    );
  }

  .box-style-xs {
    @apply rounded-md border-1 border-black;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 1);
  }

  .box-style-sm {
    @apply rounded-lg border-2 border-black;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 1);
  }

  .box-style-md {
    @apply rounded-lg border-2 border-black;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 1);
  }

  .box-style-lg {
    @apply rounded-lg border-2 border-black;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 1);
  }

  .selection-box-style-md {
    @apply rounded-lg border-2 border-green-700;
    box-shadow: 2px 2px 0 0 rgba(97, 56, 28, 0.9);
  }

  .retro-scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  .retro-scrollbar::-webkit-scrollbar-track {
    background: #f3e8e0;
    border: 2px solid #4a2c2a;
    border-radius: 8px;
    box-shadow: inset 2px 2px 0 0 rgba(0,0,0,0.2);
  }

  .retro-scrollbar::-webkit-scrollbar-thumb {
    background: #e0b39c;
    border: 2px solid #4a2c2a;
    border-radius: 8px;
    box-shadow: 2px 2px 0 0 rgba(0,0,0,0.2);
  }

  .retro-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #e0b39c #f3e8e0;
    border-radius: 8px;
    overflow-y: auto;
  }
  
  .scrollbar-gutter {
    scrollbar-gutter: stable;
  }
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
}